:root {
    --amarillomercado:gold; 
}


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;;

}
nav{
    background-color:var(--amarillomercado);
    color:#fff;

}
.precio {
    font-size: 32px;
font-weight:700;
font-style: italic;
text-align: center;

}
.descripcion {
    line-height: 40px;
}
.banner{
    background-image:url("../img/img-cafetera-moulinex.jpg");
    background-position: center;
    background-size:cover;
    height: 200px;
}

.fa-brands{
    font-size: 32px;
}