<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="CSS/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <title>MERCADO LIEBRE</title>
</head>
<body>
  <header>
    <nav>
        <div class="navegador">
        <img class="logo" src="./img/logo-mercado-liebre.svg" with="100px" alt="logo">
       <form class="button"  action=" " method="get">
        <input type="text" name=""id=""placeholder="Buscar productos,marcas"
        />
        <button  class="lupa" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

      
        <h2>Compra en cuotas y sin tarjetas de credito</h2>
    </div>
            
    <div class="categoria">
        <ul class="item">
            <li><a href="">Ofertas</a></li>
            <li><a href="https://www.mercadolibre.com.ar">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li></li>
        </ul>

        <ul class="item">
            <li><a href="./login">Ingresar</a><i class="fa-solid fa-user"></i></li>
            <li><a href="./registro">Creá tu cuenta</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </div>
    
    <div class="hamburguesa">

        <i class="fa-solid fa-bars"></i>
    </div>
    </nav>
    <div class="banner" ></div><img src="./img/img-home-banner.jpg" alt="">
    </div>
    </header>
</body>
<main>
    <form action="" class="nombres" method="get">
        <div class="nombres">
            <input type="text" name="" id="" placeholder="Usuario">
        </div>
        <div class="password">
            <input type="password" name="" id="" placeholder="Contraseña">
        </div>
        <div class="envio">
            <button><a href="./">Enviar</a></button>
        </div>
    </form>
</main>
<footer>
    <div class="modelodepago">
    <div class="sectionA">
        <i class="fa-solid fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="sectionB">
        <i class="fa-solid fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="sectionC">
        <i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
</div>
    <div class="sectionD">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>
<i class="fa-brands fa-github"></i>
</body>
</html>